<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Reveal Bootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">
</head>
<body>
<section id="services">
  <div class="container">
    <div class="section-header">
      <h2 style="text-align: center;color:black">Integral Domains</h2>
    </div>

    <div class="row">

      <div class="col-lg-6">
        <div class="box wow fadeInLeft" style="background-color: black">
          <div class="icon"><i class="fa fa-user-md"></i></div>
          <h4 class="title" style="color:rgb(66, 230, 149)"><a href="/medical-domain" style="color:rgb(66, 230, 149)">Medical Domain</a></h4>
          <p class="description" style="color:rgb(66, 230, 149)">We have answers to your most searched queries related to any disease like it's symptoms, causes, risk factors, medication or treatment required and much more.</p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="box wow fadeInRight" style="background-color: black">
          <div class="icon" style="color:rgb(66, 230, 149)"><i class="fa fa-film"></i></div>
          <h4 class="title" ><a href="/movie-domain"style="color:rgb(66, 230, 149)">Movie Domain</a></h4>
          <p class="description" style="color:rgb(66, 230, 149)">Want to know which cast acted in what movies that are made by whom? Or even something more about it? This domain has all the required information for you!&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </div>
      </div>
 
      <div class="col-lg-6">
        <div class="box wow fadeInRight" style="background-color: black">
          <div class="icon" style="color: limegreen"><i class="fa fa-gamepad"></i></div>
          <h4 class="title" ><a style="color:rgb(66, 230, 149)">Supply Chain Domain</a></h4>
          <p class="description" style="color:rgb(66, 230, 149)">A vast domain with details related to the industry and all the related information including the gross rates, production, capital and so on.</p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="box wow fadeInRight" style="background-color: black">
          <div class="icon" style="color: limegreen"><i class="fa fa-user"></i></div>
          <h4 class="title" ><a style="color:rgb(66, 230, 149)">Human Resources Domain</a></h4>
          <p class="description" style="color:rgb(66, 230, 149)">Any information about the company, whether its about the employees or their managers or the infrastructure, we have it all.</p>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- JavaScript Libraries -->
<script src="src/assets/conceptsLib/jquery/jquery.min.js"></script>
<script src="src/assets/conceptsLib/jquery/jquery-migrate.min.js"></script>
<script src="src/assets/conceptsLib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="src/assets/conceptsLib/easing/easing.min.js"></script>
<script src="src/assets/conceptsLib/superfish/hoverIntent.js"></script>
<script src="src/assets/conceptsLib/superfish/superfish.min.js"></script>
<script src="src/assets/conceptsLib/wow/wow.min.js"></script>
<script src="src/assets/conceptsLib/owlcarousel/owl.carousel.min.js"></script>
<script src="src/assets/conceptsLib/magnific-popup/magnific-popup.min.js"></script>
<script src="src/assets/conceptsLib/sticky/sticky.js"></script>

<!-- Template Main Javascript File -->
<script src="src/assets/conceptsTs/main.js"></script>
</body>
