<footer>
  <div class="container">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <p class="float-left" style="color: white">ⒸCopyright2019<br> All Rights Reserved , Powered by Knowably.</p>
  <div class="float-right">
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-google-plus" style="background-color: firebrick"></a>
  </div>  <div class="clearfix"></div>
  </div>
</footer>
